.custom-rounded {
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem ;
  }

.efectoHover::before{
  background-color: rgba(0, 0, 0, 0.2); /* Fondo semi-transparente */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.efectoHover:hover::before {
  opacity: 1;
}