:root{
    --color-verde: #c6d55b;
    --color-azul: #38e3d6;
    --color-amarillo: #f2db6a;
    --color-amarillo-claro: #f6e696;
    --color-crema: #ffaf87;
    --color-rosa: #ff9c9c;
    --color-marron: #7b5b41;
    --color-celeste: #d7f9f7;
}