.custom-rounded {
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem ;
    position: relative;
    
  }
  .btn-rebote:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
    opacity: 0.5;
   
    
  }
