.contenedor {
    position: relative;
  }
  

  
.contenedor .texto {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-30%, -30%);
   
  }
  .contenedor .img-container {
    position: absolute;
    top: -128px;
    left: 15%;
    transform: translate(-30%, -30%);
    width: 10%;
   
  }
  
  /* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
  @media (max-width: 768px) {
 .texto {
      left: 50%;
      max-width: 100%;
      font-size: 1.5vw; /* Tamaño de fuente en vw */
    }
  }
  
  @media (max-width: 576px) {
    .contenedor .texto {
      top: 50%;
      left: 50%;
      max-width: 10%;
      font-size: 1.5vw; /* Tamaño de fuente en vw */
        height: 10%;
      
    }
  }