.contenedor {
  position: relative;
}

.contenedor img {
  width: 100%;
  height: auto;
}

.contenedor .texto {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
 
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .contenedor .texto {
    left: 50%;
    max-width: 100%;
    font-size: 5vw; /* Tamaño de fuente en vw */
  }
}

@media (max-width: 576px) {
  .contenedor .texto {
    top: 70%;
    left: 50%;
    max-width: 100%;
    font-size: 5vw; /* Tamaño de fuente en vw */

    
  }
}