@import "./constantes/colores.css";
@import "./constantes/fuente.css";

.fondo-verde{
  background-color: var(--color-verde);
}
.fondo-azul{
  background-color: var(--color-azul);
}
body, p, h1, h2, h3, h4, h5, div{
  font-family: 'Lexend Deca', sans-serif;
}